.app-container{
     width: 500px;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
}
#quiz-box #header{
     display: flex;
     justify-content: space-between;
     align-items: center;
     position: relative;
}
.option-list{
     padding: 18px 10px;
}

.option-list .option{
     border: 1px solid rgb(38, 34, 35);
     border-radius: 5px;
     padding: 8px 15px;
     font-size: 15px;
     margin-bottom: 10px;
     cursor: pointer;
     display: flex;
     align-items: center;
     justify-content: space-between;
}

.option-list .option:hover{
     color: #112B2C;
     background: yellow;
}

.option-list .option.correct{
     color: green;
     background: rgb(156, 238, 201);
}

.option-list .option.incorrect{
     color: red;
     background: rgb(245, 179, 179);
}

.option-list .option.disabled{
     pointer-events: none;
}

.summary{
     display: flex;
     align-items: center;
     justify-content: space-between;
}

#score-box{
     text-align: center;
     padding: 25px;
}

#score-box i{
     font-size: 80px;
     color: rgb(6, 83, 208)
}

#score-box .score-text{
     font-size: 16px;
     font-weight: 600;
     margin-top: 30px;
     margin-bottom: -45px;
}

#button-box{
     text-align: center;
}

#button-box, #quiz-box, #score-box{
     display: none;
}

#button-box.active, #quiz-box.active, #score-box.active{
     display: block;
}

/* time left */
.time{
     display: flex;
     align-items: center;
     background-color: rgb(2, 163, 2);
     color: #fff;
     padding: 5px;
     border-radius: 5px;
     font-size: 20px;
}

.time .time-text{
     font-size: 15px;

}

.time .time-second{
     background: #ffa807;
     border-radius: 5px;
     padding: 3px;
     margin-left: 5px;
     width: 30px;
     text-align: center;
}

.btn-next{
     opacity: 0 !important;
     transform: scale(0.8) !important;
     transition: all 0.3s ease !important;
}

.btn-next.show{
     opacity: 1 !important;
     transform: scale(1) !important;
}

.time-line{
     position: absolute;
     bottom: 0;
     left: 0;
     height: 5px;
     background: #ffa807;
}
